[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
